body {
    background-color: rgba(241, 233, 237, 0.822);
    font-family: 'Times New Roman', light;
}

h1 {
    color: rgb(17, 12, 15);
    text-align: center;
}

p {
    text-align: center;
    font-size: 22px;
}

.text_num {
    text-align: left;
    font-size: 22px;
    line-height: 2;
}

ol {
    list-style: none;
    counter-reset: custom-counter;
}

ol li {
    counter-increment: custom-counter;
    position: relative;
    padding-left: 20px;
    font-size: 22px;
}

ol li::before {
    content: "∙";
    position: absolute;
    left: 0;
}

.image {
    text-align: right;
}

.text_1 {
    border: 2px solid #69af94;
    border-radius: 20px;
    padding: 10px; 
    margin: 10px;
    width: 780px; 
    height: 195px; 
    line-height: 1.5;
}

.text_2 {
    border: 2px solid #69af94;
    border-radius: 20px;
    padding: 10px; 
    margin: 10px;
    width: 780px; 
    height: 235px; 
    line-height: 1.5;
}

.text_3 {
    border: 2px solid #69af94;
    border-radius: 20px;
    padding: 20px; 
    margin: 20px;
    width: 320px; 
    height: 360px; 
    line-height: 2;
}

.text_4 {
    border: 2px solid #69af94;
    border-radius: 20px;
    padding: 20px; 
    margin: 20px;
    width: 400px; 
    height: 530px; 
    line-height: 2;
}

.text_5 {
    border: 2px solid #69af94;
    border-radius: 20px;
    padding: 20px; 
    margin: 20px;
    width: 700px; 
    height: 530px; 
    line-height: 2;
}

.text_6 {
    border: 2px solid #69af94;
    border-radius: 20px;
    padding: 20px; 
    margin: 20px;
    width: 700px; 
    height: 450px; 
    line-height: 2;
}

.content { 
    display: flex;   
}

.content_h1 { 
    display: flex;  
    flex-direction: row; 
}

.button_sg {
    text-align: center;
    background-color: #69af94; 
    color: black 
    border: none;
    border-radius: 20px; 
    padding: 10px; 
    margin: 10px;
    text-decoration: none;
    display: inline-block; 
    font-size: 22px; 
    cursor: pointer; 
    width: 780px;
}

.button_sg_1 {
    text-align: center;
    background-color: #69af94; 
    color: black 
    border: none;
    border-radius: 20px; 
    padding: 10px; 
    margin: 10px;
    text-decoration: none;
    display: inline-block; 
    font-size: 22px; 
    cursor: pointer; 
    width: 365px;
}

.button_sg_2 {
    text-align: center;
    background-color: #69af94; 
    color: black 
    border: none;
    border-radius: 20px; 
    padding: 10px; 
    margin: 10px;
    text-decoration: none;
    display: inline-block; 
    font-size: 22px; 
    cursor: pointer; 
    width: 355px;
}

.button_menu {
    text-align: center;
    background-color: #69af94; 
    color: black 
    border: none;
    border-radius: 20px; 
    padding: 10px; 
    margin: 10px;
    text-decoration: none;
    display: inline-block; 
    font-size: 22px; 
    cursor: pointer; 
    height: 25px;
}

.button_h1 {
    text-align: center; 
    color: black 
    border: none;
    border-radius: 20px; 
    text-decoration: none;
    display: inline-block;  
    height: 25px;
    width: 450px;
}

footer {
    background-color: black;
}

h2 {
    color: white;
    text-align: center;
}

label {
    font-weight: bold; 
    color: white;
    display: block; 
    margin-bottom: 5px; 
    font-size: 18px; 
    margin-left: 20px;
}

textarea {
    width: 28%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    font-size: 18px;
    margin: 15px 0 15px 20px;
}

input {
    width: 18%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    font-size: 18px;
    margin: 15px 0 15px 20px;
}